.abcd {
  color: red;
}

.bg-colr {
  background-color: rgb(10, 10, 10);
}

#bar-container {
  display: flex;
  width: 600px;
  margin: 20px auto;
  overflow-x: auto;
  padding-bottom: 20px; /* Space for the scrollbar */
  box-sizing: content-box;
  position: relative;
}

/* Scrollbar Styles */
#bar-container::-webkit-scrollbar {
  height: 8px; /* Thin scrollbar height */
}

#bar-container::-webkit-scrollbar-track {
  background: #f5f5f5; /* Light grey background for the track */
  border-radius: 10px; /* Rounded corners */
}

#bar-container::-webkit-scrollbar-thumb {
  background-color: #007bff; /* Blue color similar to the timeline bar */
  border-radius: 0; /* No rounding, making it rectangular */
}

/* Custom Timeline Style */
.timeline-bar {
  display: flex;
  background-color: #007bff; /* Same color as scrollbar */
  height: 20px;
  width: 100%;
  border-radius: 5px;
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  flex: 1;
}

.number {
  margin-bottom: 5px;
  font-weight: bold;
}

.box {
  width: 2.5rem;
  height: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #f9f9f9;
  user-select: none;
  transition: background-color 0.3s ease;
  border-right: none;
}

.box:last-child {
  border-right: 1px solid #ccc;
}

.box.selected {
  background-color: #95AFDD;
  color: #fff;
}
